*{
    margin: 0;
    padding: 0;
    
}

body
{
    overflow-x:hidden;
}

p
{
        font-size: 16px;
    color: #888888;
    
}
.hedder-background
{
    background:#fff;
    width: 100%;
    height: 115px;
}
.header-inside
{
    background-color: #fff;
    width: 1140px;
    margin: 0 auto;
    height: 115px;
}
.header-inside h1 a img
{
    height: 55px;
    width: 55px;
    margin: 30px 0 0 30px;
    float: left;
}
.header-inside ul
{
    float: right;
}
.header-inside li
{
    float: left;
    list-style: none;
    padding-left: 30px;
        font-size: 14px;
    color: #222222;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 115px;
    
}
.header-inside li:last-child
{
    padding-right: 5px;
}
.header-inside li a:hover
{
    color:#428bca;
    transition: 0.2s;
}
a{
    text-decoration: none;
    color: #222222
}


.main-bg
{
height:750px;
width:100%;
background-color:#f9f9f9; 
    display: block;
    padding: 0 20px 0 20px;
    margin: 0 auto;
   
}
.wrapper
{
    height: 700px;
    
    width: 1135px;
    margin: 0 auto;
    background-color: #f9f9f9;
padding-top: 50px;  
    overflow:hidden;
    
  
}
.wrapper .img-block 
{
    width: 650px;
    height:  350px;
   background: url(img/Logo-2.png) 0 0 no-repeat;
    float: right;
    border-radius: 5px;
    overflow:hidden;
}
.wrapper .main-info
{
    width: 450px;
    float: left;
    overflow:hidden;
    
}
.wrapper h1
{
    font-size:36px;
    color:#000;
    margin-bottom: 10px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
   
}
.wrapper p
{
        font-size: 16px;
    color: #888888;
    margin: 0 0 30px 0;
    line-height: 26px;
    font-family: sans-serif;
}
.wrapper input
{
    width: 175px;
    height: 45px;
        font-size: 16px;
    color: #ffffff;
    background: #49b5e7;
    
   
    border-radius: 3px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}
.wrapper input:hover{
    background: #222;
    transition: all 0.2s ease-in-out;
    
}

.advantages
{
    width: 1140px;
    margin: 0 auto;
height: 550px;
    
    
}
h2
{
        font-size: 38px;
    color: #222222;
    font-family: sans-serif;
    font-weight: 700;
    
    text-align: center;
    text-transform: uppercase;
    
}
.advantages h2
{
   margin: 120px 0 25px 0; 
}
.advantages li
{
    
 float: left;
    width: 320px;
    padding: 20px 25px 20px;
    margin-right: 0px;
    list-style: none;
}
.advantages ul
{
  margin: 0 auto;
    
    width: 1140px;
}
.advantages ul li img
{
    width: 85px;
    height: 85px;
    display:block;
    margin:auto;
}
.advantages ul li h3
{
    text-align: center;
    padding: 15px 0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #111111;
}
.advantages ul li p
{
    font-size: 16px;
    color: #888888;
    text-align: center;
    font-family: sans-serif;
    font-size:14px;
}



.reviews
{
   
    height: 700px;
    margin: 0 auto;
    width: 1140px;
    
    overflow:hidden;
    
}
.client img
{
    width: 215px;
    height: 215px;
    float: left;
        border-radius: 30%;
    border: 3px solid #f5f5f5;
    
    
}
.client
{
    width: 1140px;
    height: 260px;
    overflow:hidden;
    
   
}
.quote
{
    width: 560px;
    height: 80px;
    background: #f9f9f9;
    float: left;
    margin: 35px 0 0 30px;
    padding: 20px 35px 30px 35px;
    border: 3px solid #f5f5f5;
}
.quote2
{
    width: 560px;
    height: 80px;
    background: #f9f9f9;
    float: left;
    border: 3px solid #f5f5f5;  
    padding: 20px 35px 30px 35px;
    margin-top: 45px;
   margin-left: 255px;
}
.coment span p
{
    width: 215px;
    text-align: center; 
}
.coment h4
{
  width: 215px;
    text-align: center;  
}
.coment h4
{
    padding-top: 15px;
        font-family: sans-serif;
    font-weight: 600;
font-size: 18px;
    color: #49b5e7;
    
    text-transform: uppercase;
}
.coment .quote p, .coment .quote2 p
{
    font-family: sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    color: #888888;
    text-align: center;
    line-height: 24px;
   
}
.quote i:first-child,.quote2 i:first-child
{
   font-size: 40px;
    padding-right: 10px;
    color:#dfeff6;
}
.quote i:last-child,.quote2 i:last-child
{
   font-size: 40px;
    color:#dfeff6;
    padding-left: 10px;
    clear: both;
    position: absolute;
}
.client2
{
    height: 260px;
    overflow: hidden;
}
.client2 img
{
    border-radius: 30%;
    float: right;
    width: 215px;
    height: 215px;
}
.client2 h4, .client2 span p
{
    clear: both;
    float: right;
    
    padding-top: 2px;
}

.social-bg
{background: #f1c40f;
height: 160px;
    width: 100%;
    padding: 0 20px 0 20px;
    
}
.social
{
     width: 1140px;
    margin: 0 auto;
    height: 160px;
    background: #f1c40f;
    overflow:hidden;
}
.social ul
{
    height: 160px;
    line-height: 160px;
    margin: 0 auto;
   
    
    
}
.social ul li
{
    float: left;
    
    
    list-style: none;
    padding: 0 65px 0 65px;
    
}
.social ul li:nth-child(2)
{
    margin-top: 8px;
    height: 152px;
}


.contact-bg
{
    width: 100%;
    background:#4c4c4c;
    height: 900px;
    padding: 0 20px 0 20px;
    
    
}
.contact
{
    width: 1140px;
    margin: 0 auto;
    height: 900px;
    background:#4c4c4c;
    
}
.contact h2
{
   padding-top: 80px;
    color:#fff;
    padding-bottom: 30px;
    
}


.contact li
{
    
 float: left;
    width: 330px;
    padding: 20px 25px 20px ;
    margin-right: 0px;
    list-style: none;
    text-align: center;
   
    
}
.contact p
{color: #fff;
padding-top: 15px;
line-height: 20px;
font-family: sans-serif;
}

.contact ul li img
{
    width: 85px;
    height: 85px;
    display:block;
    margin:auto;
}
.left-side ul
{
    padding-left: 70px;
}
.left-side 
{
    width: 500px;
    clear: both;
    height: 565px;
    float:left;
}
.left-side ul li
{
    float: left;
    width: 55px;
    height: 55px;
   padding: 90px 12px 0px 0px;
    list-style: none;
  
}
.left-side ul li img
{
   width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    
}


.left-side h3
{
    padding-left: 70px;
    color:#fff;
        font-size: 24px;
    font-weight: 600;
    padding-bottom: 60px;
    padding-top: 70px;
    font-family: sans-serif;
   
}
.left-side p
{
    line-height: 28px;
    display: block;
    font-size: 16px;
    color: #ffffff;
    padding-left: 70px;
    font-family: sans-serif;
    
}


.right-side
{
    width: 620px;
    

    height: 565px;
    float: left;
    
}
.right-side input, textarea
{
   width: 425px; 
    padding: 15px 20px;
    border: 1px solid #ccc;
        border-radius: 4px;
    font-size: 15px;
    color: #aaa;
    font-family: sans-serif;
    margin-bottom: 20px;
    resize: none;
    
}
.right-side input[type=submit]
{
    background: #7cc576;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0px;
    width: 175px;
    height: 50px;
    
}
.right-side input[type=submit]:hover
{
    background: #fff;
    color:#000;
    transition: all 0.3s ease-in-out;
}





.footer-bg
{
    width: 100%;
    height: 102px;
    background-color: #4c4c4c;
    padding: 0 20px 2px 20px;
}
footer p
{
    color:#ccc;
    font-size: 14px;
}
footer
{
    margin: 0 auto;
    width: 1140px;
   border-top: 1px solid #333333;
    height: 103px;
    line-height: 100px;
    text-align: center;
    clear: both;
    margin-top: -1px;
    
    background-color: #4c4c4c;
}
footer a
{
    text-decoration: none;
    color:#7cc576;
    font-size: 18px;
}


